.summary-and-form .back-button{
  font-size: 48px;
  display: inline-block;
}
.row-container {
  display: grid;
  grid-template-columns: 0 0.1fr 4fr 1fr; /* fraction*/
}
.summary-and-form .div-container .row-container > div {
  display: inline-block;
  margin: auto;
  padding: 10px 0px;
}

.summary-and-form .div-container .row-container > div h3 {
  margin: auto;
}

.swiper-slide {
  background: lightgray;
}

.summary-swiper-button {
  font-size: 20px;
  color: gray;
  font-weight: 800;
  cursor: pointer;
  color: darkblue;
  text-decoration: underline;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.form-swiper-button {
  font-size: 30px;
  color: gray;
  font-weight: 200;
  float: left;
}

.form-swiper-button > span {
  top: 12px;
  font-size: 30px;
  color: black;
}

.summary-layout-content {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.form-action-btns > button {
  text-transform: uppercase;
  background: none;
  border: none;
  font-size: 20px;
  outline: none;
}

.back-action-btn {
  top: -53px;
  cursor: pointer;
}

.swiping-summary-and-form {
  display: block;
  height: 100%;
  overflow: scroll;
  max-height: 90vh;
}

.swiper-container {
  height: inherit;
}

.summary-layout {
  height: auto;
  min-height: 100vh;
  padding: 20px;
  font-size: 120%;
  background: lightgray;
}

.summary-and-form .list-group-item-heading {
  font-size: 130%;
  padding-bottom: 20px;
}

.list-group-item {
  font-size: 130%;
  padding: 20px;
}  

.list-group {
  box-shadow: none;
}

.form-layout {
  max-height: 100vh;
  height: auto;
  min-height: 100vh;
  padding-left: 10px;
  background: lightgray;
}

.swiper-add-new-btn {
  display: flex;
  justify-content: center;
}

.disabled-btn {
  color: gray;
}
