@media only screen and (max-width: 501px) {
  .show-grid.summary-form-slider.row {
    display: none;
    height: 100%;
    width: 100%;
  }

}

@media only screen and (min-width: 501px) and (max-width: 1024px) {
  .show-grid.summary-form-slider.row {
    display: none;
    height: 100%;
    width: 100%;
  }

  .swiping-summary-and-form {
    display: block;
    height: 100%;
  }

  .show-grid.summary-form-slider.row > div {
    display: inline-block;
    text-align: center;
  }

  .swiper-container {
    height: inherit;
  }

  .summary-layout {
    height: inherit;
    padding: 20px;
    font-size: 120%;
    background: lightgray;
  }

  .list-group-item-heading {
    font-size: 130%;
    padding-bottom: 20px;
  }

  .list-group-item {
    font-size: 130%;
    padding: 20px;
  }  

  .list-group {
    padding: 20px;
  }

  .form-layout {
    height: inherit;
    padding-left: 10px;
    background: lightgray;
  }
}

@media only screen and (min-width: 1025px) {
  .div-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .row-container {
    background-color: #ffa500b3;
  }

  .pad-left {
    padding-left: 20px;
  }

  .form-layout {
    width: 66.667%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .summary-layout {
    width: 33.333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #C3F0FF;
    height: stretch;
  }

  .swiping-summary-and-form {
    display: none;
  }

}