.summary-and-form .back-button{
  font-size: 30px;
  display: inline-block;
}
.row-container {
  display: grid;
  grid-template-columns: 0 0.1fr 4fr 1fr; /* fraction*/
}
.summary-and-form .div-container .row-container > div {
  display: inline-block;
  margin: auto;
  padding: 10px 0px;
}

.summary-and-form .div-container .row-container > div h3 {
  margin: auto;
}

.summary-swiper-button {
  font-size: 30px;
  color: gray;
  font-weight: 200;
  float: right;
}

.summary-swiper-button > span {
  top: 12px;
  font-size: 40px;
  color: darkgray;
}

.form-swiper-button {
  font-size: 30px;
  color: gray;
  font-weight: 200;
  float: left;
}

.form-swiper-button > span {
  top: 12px;
  font-size: 40px;
  color: darkgray;
}

@media only screen and (max-width: 501px) {
  .show-grid.summary-form-slider.row {
    display: none;
    height: 100%;
    width: 100%;
  }

}

@media only screen and (min-width: 501px) and (max-width: 1024px) {
  .show-grid.summary-form-slider.row {
    display: none;
    height: 100%;
    width: 100%;
  }

  .swiping-summary-and-form {
    display: block;
    height: 100%;
  }

  .show-grid.summary-form-slider.row > div {
    display: inline-block;
    text-align: center;
  }

  .swiper-container {
    height: inherit;
  }

  .summary-layout {
    height: 100vh;
    padding: 20px;
    font-size: 120%;
    background: lightgray;
  }

  .list-group-item-heading {
    font-size: 130%;
    padding-bottom: 20px;
  }

  .list-group-item {
    font-size: 130%;
    padding: 20px;
  }  

  .list-group {
    padding: 20px;
  }

  .form-layout {
    height: 100vh;
    padding-left: 10px;
    background: lightgray;
  }
}

@media only screen and (min-width: 1025px) {
  .div-container {
    padding-left: 0px;
    padding-right: 0px;
  }

  .row-container {
    background-color: #ffa500b3;
  }

  .pad-left {
    padding-left: 20px;
  }

  .form-layout {
    width: 66.667%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .summary-layout {
    width: 33.333%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #C3F0FF;
    height: stretch;
  }

  .swiping-summary-and-form {
    display: none;
  }

}

@media only screen and (max-width: 600px) {
  .list-group button.list-group-item {
    width: 50% !important;
    margin: auto;
  }
  
  .summary-layout .summary-layout-content {
    width: fit-content;
    font-size: 20px;
    margin: auto;
  }
}

@media only screen and (min-width: 600px) {
  .row-container .back-button {
    display: none;
  }
}
