.react-datepicker__portal .react-datepicker{
    top: -15%;
    font-size: 2em;
}

.react-datepicker__portal .react-datepicker__current-month {
    font-size: 1em;
}

.react-datepicker__navigation {
    border: 1em solid transparent !important;
}

.react-datepicker > button {
    width: 120px;
}

#nutrition, #blood_pressure, #htc, #viral_load, #tb_screening, #tb_testing, #adherence, #eid, #nursing {
    width: 25%
}
