.foreground {
    postion: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.loginLogo {
    max-height: 100px;
    padding: 3%;
    margin-bottom: 30px;
    border-radius: 10px;
}

.darken-pseudo {
    position: relative;
}

.darken-pseudo:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
}
.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: rgba(255,255,255,0.4);
    border-radius: 0px;
}

.midPanelItemContainer {
    margin-top: 20px;
    width: 220px;
}

.bottomPanelItemContainer {
    margin-top: 20px;
    width: 220px;
    align-content: stretch;
}

.panelItem {
    width: 220px;
}

.checkinButton {
    width: 100%;
    border-radius: 0px;
}

.form-control {
    background-color: #ffffff;
    border-radius: 0px;
    border: 0px;
    color: #777;
}

.referralSelector{
    background-color: #ffffff;
    height: 34px;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
}
