.btn-default:active, .btn-default.active {
    background-color: coral;
    color: white;
    border-color: #dbdbdb;
}

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
  color: #333;
  background-color: coral;
  color: white;
  border-color: #8c8c8c;
}

.activeTab ul > li > a:hover {
    background-color: #007C85;
    color: white;
}

/* Active tab */
.activeTab ul > li.active > a,
.activeTab ul > li.active > a:hover,
.activeTab ul > li.active > a:focus {
    background-color: #008EA0;
    color: white;
}
