.queue-filters {
  padding-top: 20px;
  font-size: 14px;
}

.queue-filters .identifier-filter-container {
  padding-bottom: 10px 0;
}

.identifier-filter {
  display: inline-flex;
  align-items: baseline;
  padding: 5px;
}

.identifier-filter > span {
  padding: 0 10px;
}

.identifier-filter div:nth-child(2) {
  background: red;
  height: 50px;
}

.identifier-filter .div-error {
  display: none;
}

.identifier-filter-number-input-container {
  display: flex;
}

.identifier-filter .form-control {
  border: 1px black solid;
  height: 32px;
  width: 120px;
}

.identifier-filter .right-remove-sign-icon {
  left: 205px;
  top: 248px;
  position: absolute;
  font-size: 18px;
}
