.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 10px;
  top: 10px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 1.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

h1, .h1 {
  font-size: 26px;
}

.patient-header {
  position: relative;
  overflow: hidden;
  background: #F9F9F9;
  z-index: 0;
  border-bottom: 2px solid #EEE;
  margin: -9px -9px 10px -9px;
  padding: 5px 10px;
  min-height: 60px;
}


.demographics {
  display: inline-block;
  position: relative;
  float: left;
  vertical-align: top;
}

.demographics h1 span {
  display: inline-block;
}

.demographics h1 span em {
  font-size: 0.4em;
  color: #888;
  border-top: 1px solid #DDD;
  display: block;
}

.patient-header .demographics .gender-age {
  font-size: 0.6em;
  vertical-align: top;
  margin-top: 10px;
}

.identifiers {
  max-width: 520px;
  display: inline-block;
  text-align: right;
  margin-left: 20px;
  margin-top: 28px;
}
identifiers em {
  max-width: 170px;
  min-width: 120px;
  display: inline-block;
  color: #888;
  font-style: normal;
  font-size: 0.9em;
  border-bottom: 1px solid #DDD;
}

.identifiers span {
  background: #666666;
  color: white;
  letter-spacing: 1px;
  margin: 2px;
  display: inline-block;
  padding: 2px 8px;
  font-size: 0.8em;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}